@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    :root {
        --color-primary: 167 118 74;
        --color-divider-light: 243 244 246;
        --color-divider-strong-light: 229 231 235;
        --color-weak-light: 107 114 128;
    }
}

html,
body {
    @apply flex flex-col h-screen bg-appBackground;

    @media (prefers-color-scheme: light) {
        color-scheme: light;
    }
}
